doctype html
html
  head
    title 3 Nearest Neighbors
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')

  body(ng-app='app', ng-cloak)
    block content
    include scripts
